* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.first_section {
    height: 450px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.insidefirst{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.top_area{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_area h2{
    flex: 0.9;
}

.bottom_area{
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placeholder {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 60%;
}

a,
p {
    color: #E5E7EB;
    font-size: 18px;
}

.second_section {
    height: 400px;
    display: flex;
    justify-content: center;
}

.insidesecond {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagetext p,
.images img {
    height:150px;
    width:150px;
    color: black;
}

.images {
    height: 200px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagetext {
    height: 150px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.third_section {
    display:flex;
    background-color: #E5E7EB;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third_section p, em, strong{
    color: #1F2937;
    font-size: 36px;
    width: 35%;
}

.last_section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button{
    margin: 57px 0;
    height: 40px;
    border-radius: 15px;
    width: 100px;
    background-color: #3882F6;
    border-color: white;
}


.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #3882F6;
    width: 75%;
    height:50%;
    flex-wrap: wrap;
    padding-left: 200px;
}








